*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('harley.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}
ul{
    float: right;
    margin-top: 11px;
}
ul li{
    
    display: inline;
}
ul li a{
    text-decoration: none;
    padding : 5px 20px;
    margin: 5px;
    margin-top: 10px;
    border:1px solid;
    border-color: transparent;
    font-size: 20px;
    color: black;
    transition: 0.5s ease;
}
a:hover{
    background-color: slateblue;
    color: white
}

.main{
    max-width: 1200px;
    margin: auto;
}